img {
  display: inline-block;
  width: 25%;
  border-radius: 50%;
  margin-left: 20%;
}

section {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  margin-top: 8em;
  margin-right: 5em;
  float: right;
}

body {
  background-color: lightgrey;
}

section #mini-bio {
  text-align: center;
  font-size: 40px
}

section #career {
  font-size: 20px;
  color: gray;
  margin-top: -20px;
}

section #general-bio {
  font-size: 17px;
  color: gray;
}
#nav{
  margin-bottom: 50px;
  margin-left: -500px;
  margin-top: -10px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
}
nav h3{
  margin-left: 400px;
}
nav ul li{
list-style: none;
display: inline-block;
padding: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width :768px) {
  header nav {
    margin-left: 10;
    
  }

  img {
    width: 35vw;
  }

  section {
    float: none;
    margin-right: 15em;
    display: inline-block;
    margin-left: 25vw;
  }
}

@media only screen and (min-width:768px) {

  header nav{
    margin-left:15vh ;
    
  }
}


