img {
  display: inline-block;
  width: 25%;
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 7vh;
}

section {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  margin-top: 8em;
  margin-right: 5em;
  float: right;
}

body {
  background-color: lightgrey;
}

section #mini-bio {
  text-align: center;
  font-size: 40px
}

section #career {
  font-size: 20px;
  color: gray;
  margin-top: -20px;
}

section #general-bio {
  font-size: 17px;
  color: gray;
}
a{
  text-decoration: none;
  color: black;
}
@media only screen and (max-width :768px) {
  img{
    width: 55vw;
    margin-top: 8vh;
    margin-bottom: -2vh;
    
  }
  section{
    display: flex;
    align-content:center;
    justify-content: center;
    flex-direction: column;
    
  }
}

@media only screen and (min-width:768px) {
  
}


