body {
  ---body-bg: black;
  --body-color: orange;
  --btn-text-color: black;
  background-color: #D3D3D3;
  min-height: 100vh;

}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  margin-left: 75vw;
  align-items: center;
}
.card-img-top{
  width: 286px;
  height: 280px;
}

header {
  background-color: var(--header-bg);
  color: var(--header-text-color);
  margin-bottom: 10vh;
}
#card-container{
  margin-left: 5vw;
  display: flex;
  justify-content: space-evenly;
}
