body {
  ---body-bg: black;
  --body-color: orange;
  --btn-text-color: black;

  background-color: #D3D3D3;
  min-height: 100vh;

}


#light-dark-button {

  color: var(--btn-text-color);

}

body.dark {
  --body-bg: darkgray;
  --btn-text-color: grey;
  --dark-light-button-text-color: #2a2a2a;
  background-color: var(--body-bg);
}

header {
  background-color: var(--header-bg);
  color: var(--header-text-color);
  margin-bottom: 10vh;
}
#card-container{
  margin-left: 5vw;
  display: flex;
  justify-content: space-evenly;
}
