img{
  display: inline-block;
  width: 25%;
  border-radius: 50%;
  margin-left: 20%;
}
aside{
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  margin-top: 8em;
  margin-right: 5em;
  float: right;
}
body{
  background-color: lightgrey;
}
aside #mini-bio{
text-align: center;
font-size: 40px
}
aside #career{
  font-size: 20px;
  color: gray;
  margin-top: -20px;
}
aside #general-bio{
  font-size: 17px;
  color: gray;
}
header{
  background-color: white;
  display: flex;
  margin: -10px -10px 10%;
  /* margin-bottom: 10%;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px; */
}
header a{
  text-decoration: none;
}
li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  
}
header h3{
  margin-left: 10px;
  font-size: 30px;
}
header #nav{
  margin-left:60vw;
}