header{
  background-color: white;
  display: flex;
  margin: -10px -10px 10%;
  /* margin-bottom: 10%;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px; */
}
header a{
  text-decoration: none;
  text-decoration-color: black;
}
li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}
header h3{
  margin-left: 10px;
  font-size: 30px;
}
header #nav{
  margin-left:60vw;
}
body{
  background-color: lightgray;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}